/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  text-shadow: 2px 2px black;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel .btn {
	font-size: 32px;
	font-weight: 900;
	letter-spacing: -1px;
	padding: 10px 30px 20px 20px;
	text-shadow: none;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.form-inline {
  display: inline-block;
}

.usuario-logueado {
  color: #E9E9E9;
  padding-right: 20px;
}
.noexisten {
  margin: 200px auto;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #ADADAD;
}

.form{
  width: 480px;
  background: #fff;
  margin: 10px auto;
  padding: 25px 20px; 
  border: 1px solid #cacad9;
  overflow: auto;
  font-size: 13px; 
  color: #575748;
}
@media screen and (max-width: 480px) {
  .form{
    width: calc(95% - 40px);
  } 
}
.form h2{
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;  
  padding-bottom: 5px;
}
.form label{
  display: block; 
  margin: 10px 0; 
  overflow: auto;
}
.form label >span{
  width: 15%;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 1%;
  font-size: 14px;
}
.form input[type=text], 
.form textarea {
  box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  padding: 8px 1.5%;
  outline: none;
  resize: none;
  width: 81%;
  float: right;
  font: 1.1em Arial, Helvetica, sans-serif;
}
.form textarea {
  height: 200px;
  white-space: normal;  
  line-height: 1.7em;
}

.form input[type=text]:focus, 
.form textarea:focus{
  border: 1px solid #00A1D6;
}
.form input[type=submit], 
.form input[type=button]{
  border: none;
  padding: 8px 15px;
  background: #00A1D6;
  color: #fff;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  float: right;
  display: block;
}
.form input[type=submit]:hover,
.form input[type=button]:hover{
  background: #006cd9;color: #fff;
}
.loading{
  height: 32px;
  display: none;
  background: url('load.gif') no-repeat;
  padding: 7px;
  padding-left: 40px;
  color: #353526; 
  font-weight: bold;
  width: auto; 
  float: right;
}
.fail{
  width: 95%;
  color: #ff4c4d;
  border: 2px solid #ff4c4d;
  border-radius: 4px;
  padding: 4px 10px;
}


  .boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

.enlace {
  display:inline;
  border:0;
  padding:0;
  margin:0;
  text-decoration:underline;
  background:none;
  color:#000088;
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height:1em;
}

.enlace:hover {
  text-decoration:none;
  color:#0000cc;
  cursor:pointer;
}